[Unit]
Description=NTP Clock Display
After=network.target

[Service]
ExecStart=<CHECKOUT_DIRECTORY>/venv/bin/python <CHECKOUT_DIRECTORY>/ntpclock.py -b 16
WorkingDirectory=<CHECKOUT_DIRECTORY>
User=<USER>
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
